.footer {
  background-color: #386641;
  color: #f2e8cf;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social-media {
  display: flex;
  gap: 10px;
}

.social-link {
  text-decoration: none;
  color: #f2e8cf;
  font-weight: bold;
}

.social-link:hover {
  color: #a7c957;
}

.map-link a {
  text-decoration: none;
  color: #f2e8cf;
  font-weight: bold;
}

.map-link a:hover {
  color: #a7c957;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}