.login-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
}

.login-container h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.login-container form {
  margin-top: 20px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
}
.register-container {
  background-color: #E0E0E0;
  color: #173753;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.register-container h2 {
  margin-bottom: 20px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.register-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10%;
  margin-right: 10%;

}

.register-container label {
  font-weight: bold;
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #173753;
  border-radius: 5px;
}

.register-container button[type="submit"] {
  background-color: #173753;
  color: #E0E0E0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.register-container button[type="submit"]:hover {
  background-color: #0D2A4E;
}
